<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>系统公告</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="../resources/layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="../resources/css/public.css" media="all" />
	<style type="text/css">
		.layui-btn {
		    height: 30px;
		    line-height: 30px;
		}
	</style>
</head>
<body class="childrenBody">
<!-- 模糊查询条件开始 -->
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
  <legend>查询条件</legend>
</fieldset>
<form class="layui-form" action="" style="text-align: center;" id="searchFrm">
	 <div class="layui-form-item">
    <div class="layui-inline">
      <label class="layui-form-label">公告标题</label>
      <div class="layui-input-inline">
        <input type="text" name="title" autocomplete="off" placeholder="请输入公告标题" class="layui-input">
      </div>
    </div>
    <div class="layui-inline">
      <label class="layui-form-label">开始时间</label>
      <div class="layui-input-inline">
        <input type="text" name="startTime" id="startTime" autocomplete="off" placeholder="请选择开始时间" class="layui-input">
      </div>
    </div>
    <div class="layui-inline">
      <label class="layui-form-label">结束时间</label>
      <div class="layui-input-inline">
        <input type="tel" name="endTime" id="endTime" autocomplete="off" placeholder="请选择结束时间" class="layui-input">
      </div>
    </div>
  </div>
  
  <div class="layui-form-item" style="text-align: center;">
    <div class="layui-input-block">
      <button type="button" id="doSearch" class="layui-btn" lay-submit="" lay-filter="doSearch">查询</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>
</form>
<!-- 模糊查询条件结束 -->

<!-- 添加修改弹出层开始 -->
<div id="editNotice" style="display: none;">
	<form class="layui-form"  id="dataFrm" lay-filter="dataFrm" style="margin: 10px">
	  	<div class="layui-form-item">
	      <label class="layui-form-label">公告标题</label>
	      <div class="layui-input-block">
	      	<input type="hidden" name="id"/>
	        <input type="text" name="title" id="title"  autocomplete="off" class="layui-input">
	      </div>
	     </div>
	    <div class="layui-form-item layui-form-text">
		  <label class="layui-form-label">公告内容</label>
		  <div class="layui-input-block">
		    <textarea class="layui-textarea layui-hide" name="content" lay-verify="content" id="content"></textarea>
		  </div>
		</div>
	  	<div class="layui-form-item" style="text-align: center;">
	    <div class="layui-input-block">
	      <button type="button" class="layui-btn" lay-submit="" lay-filter="doSubmit">编辑</button>
	      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
	    </div>
	    </div>
	</form>
</div>
<!-- 添加修改弹出层结束 -->
<!-- 查看弹出层结束 -->
<div id="showNoticeContent" style="padding: 10px;display: none;">
<h2 align="center" id="showTitle"></h2>
	<hr>
	<div style="text-align: right;">
		发布时间:<span id="showTime"></span>
		发布人:<span id="showOpername"></span>
	</div>
	<hr>
	<hr>
	<div id="showContent">
	</div>
</div>
<!-- 查看修改弹出层结束 -->

<!-- 数据表单开始 -->
<table  id="noticedata" lay-filter="test"></table>
 
<div id="tabletoolbar" style="display: none;" lay-filter="tabletoolbar">
	<button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="add">添加</button>
	<button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="batchDelete">批量删除</button>
</div>

<div id="toolbar" style="display: none;" lay-filter="toolbar">
	<button class="layui-btn layui-btn-warm" lay-event="update"><i class="layui-icon ">&#xe642;</i></button>
	<button class="layui-btn layui-btn-normal" lay-event="viewNotice"><i class="layui-icon ">&#xe66f;</i></button>
	<button class="layui-btn layui-btn-danger" lay-event="delete"><i class="layui-icon">&#xe640;</i></button>
</div>
<!-- 数据表单结束 -->
 
<script src="../resources/layui/layui.js"></script>
<script>
layui.use(['jquery','table','form','laydate','layedit'], function(){
  var $ = layui.jquery;
  var table = layui.table;
  var form = layui.form;
  var laydate = layui.laydate;
  var layedit = layui.layedit;
 
  
  laydate.render({
	  elem:"#startTime",
	  type:"datetime"
  });
  laydate.render({
	  elem:"#endTime",
	  type:"datetime"
  });
  
  //第一个实例
  var tableIns = table.render({
    elem: '#noticedata'
    ,cellMinWidth: 80
    ,height: 'full-250'
    ,url: '/notice/loadAllNotice' //数据接口
    ,page: true //开启分页
    , done: function(curr, count){
    	layer.msg("欢迎来到系统公告");
      }
  	,limit:8
  	,limits:[5,10,15,20,25,30,50]
  	,toolbar:"#tabletoolbar"
  	,defaultToolbar: ['filter', 'print']
    ,cols: [ [ //表头
       {type:'checkbox'}
      ,{field: 'id', title: '公告ID', align:'center'}
      ,{field: 'title', title: '公告标题',align:'center'}
      ,{field: 'createtime', title: '发布时间',align:'center'}
      ,{field: 'opername', title: '发布人',align:'center'} 
      ,{field: 'content', title: '发布人',align:'center',hide:true} 
      ,{title:'操作',width:260,	align:'center',toolbar:'#toolbar',fixed: 'right'}
    ] ]
  	,text: {
  	    none: '亲！暂无相关数据' //默认：无数据。注：该属性为 layui 2.2.5 开始新增
    }
    
  });
  
  $("#doSearch").click(function(){
	  var params =  $("#searchFrm").serialize();
	  tableIns.reload({url:"/notice/loadAllNotice?"+params});
  });
  
  table.on('toolbar(test)', function(obj){
	  switch(obj.event){
	    case 'add':
	      toAddNotice();
	    break;
	    case 'batchDelete':
			var checkStatus = table.checkStatus('noticedata');//test就是<table id="test">
	        
	        var data = checkStatus.data;
			//console.log(typeof checkStatus.data+"-->"+checkStatus.data.length);
	        var batchIds="";
	        for(var i=0;i<data.length;i++){
	        	batchIds+=data[i].id+",";
	        }
	        
	        var ids = batchIds.substring(0,batchIds.length-1);
        	layer.confirm('确定删除ID为'+ids+'公告吗？',{icon:3, title:'提示信息'},function(index){
	            $.post("/notice/batchDeleteNotice",{
	            	batchIds : ids  //将需要删除的id作为参数传入
	            },function(data){
	           	   tableIns.reload();
	           	   layer.msg(data.msg);
	               layer.close(index);
	            },"json");
	        }); 
	    break;
	  };
	});
  
  table.on('tool(test)', function(obj){
	  var data = obj.data;
	  switch(obj.event){
	    case 'update':
	    	toUpdateNotice(data);
	    break;
	    case 'delete':
	    	layer.confirm('确定删除公告为'+data.id+'日志？',{icon:3, title:'提示信息'},function(index){
	            $.post("/notice/deleteNotice",{
	                id : data.id  //将需要删除的id作为参数传入
	            },function(data){
	           	   tableIns.reload();
	           	   layer.msg(data.msg);
	               layer.close(index);
	            },"json");
	       });
	    break;
	    case 'viewNotice':
	    	show(data);
	    break;
	  };
  });
  
  var url;
  var index;
  var editIndex;
  function toAddNotice(){
	  	url="/notice/addNotice";
		index=layer.open({
			type:1,//弹出层的类型
			title:'添加公告',
			content:$("#editNotice"),  //type=1时使用
			skin:'layui-layer-lan',//设置皮肤
			area: ['800px', '600px'],//设置宽高
			shade:0.5,//设置遮罩的透明度
			shadeClose:true,//设置点击遮罩是否关闭弹出层
			maxmin:true, //是否显示最大化和最小化的按钮  该参数值对type:1和type:2有效
			success:function(){
				$("#dataFrm")[0].reset();
				editIndex =  layedit.build('content');
			}
		});
  }
  
  function toUpdateNotice(data){
		url="/notice/updateNotice";
		index=layer.open({
			type:1,//弹出层的类型
			title:'修改公告',
			content:$("#editNotice"),  //type=1时使用
			skin:'layui-layer-molv',//设置皮肤
			area: ['800px', '600px'],//设置宽高
			shade:0.5,//设置遮罩的透明度
			shadeClose:true,//设置点击遮罩是否关闭弹出层
			maxmin:true, //是否显示最大化和最小化的按钮  该参数值对type:1和type:2有效
			success:function(){
				form.val("dataFrm",data);
				editIndex =  layedit.build('content');
			}
		});
  }
  
  form.on('submit(doSubmit)', function(data){
	 /*  var params = $("#dataFrm").serialize(); */
	  var edit = layedit.getContent(editIndex);
	  data.field.content=edit;
	 /* console.log(typeof edit+"------"+edit+"--"+params); */
	   $.post(url,data.field,function(data){
			  tableIns.reload();
			  layer.msg(data.msg);
			  layer.close(index); //再执行关闭   
	  	},"json");
	   
	  return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
	});
  
   function show(data){
  	var index = layui.layer.open({
          title : "公告栏",
          type : 1,
          area:["800px","500px"],
          content : $("#showNoticeContent"),
          success : function(layero, index){
              $("#showTitle").html(data.title);
              $("#showTime").html(data.createtime);
              $("#showOpername").html(data.opername);
              $("#showContent").html(data.content);
          }
      }) 
   }
});
</script>
</body>
</html>