<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>首页--layui后台管理模板 2.0</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="/resources/layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="/resources/css/public.css" media="all" />
	<script type="text/javascript" src="/resources/js/jquery-1.8.0.min.js"></script>
	<script type="text/javascript" src="/resources/echarts/echarts.min.js"></script>
	<style type="text/css">
		element.style {
		 width: 400px;
		}
	</style>
</head>
<body class="childrenBody">
	<blockquote class="layui-elem-quote layui-bg-green">
		<div id="nowTime"></div>
	</blockquote>
	
	<div class="layui-row layui-col-space15">
		<div class="layui-col-md6">
			<blockquote class="layui-elem-quote title">最新公告 <i class="layui-icon layui-red">&#xe756;</i></blockquote>
			<table class="layui-table mag0" lay-skin="line">
				<colgroup>
					<col>
					<col width="110">
				</colgroup>
				<tbody class="hot_news"></tbody>
			</table>
		</div>
		<div class="layui-col-md6">
			<blockquote class="layui-elem-quote title">库存预警 <i class="layui-icon layui-red">&#xe756;</i></blockquote>
			<table class="layui-table mag0" lay-skin="line">
				<colgroup>
					<col>
					<col width="110">
				</colgroup>
				<tbody class="other"></tbody>
			</table>
		</div>
	</div>
	
	<div class="layui-row layui-col-space15">
		<div class="layui-col-md6">
			<blockquote class="layui-elem-quote title">销售情况 <i class="layui-icon layui-red">&#xe756;</i></blockquote>
			<table class="layui-table mag0" lay-skin="line">
				<colgroup>
					<col>
					<col width="110">
				</colgroup>
				<tbody>
					<tr>
						<td>
						<div id="container" style="height:320px"></div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div class="layui-col-md6">
			<blockquote class="layui-elem-quote title">销售情况 <i class="layui-icon layui-red">&#xe756;</i></blockquote>
			<table class="layui-table mag0" lay-skin="line">
				<colgroup>
					<col>
					<col width="110">
				</colgroup>
				<tbody>
					<tr>
						<td>
						<div id="container2" style="height:320px"></div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

<!-- 添加和修改开始 -->
<div id="dataFrmContent" style="padding: 10px;display: none;" >
	<form class="layui-form" method="post" id="dataFrm" lay-filter="dataFrm" >
		 <div class="layui-form-item">
		    <div class="layui-inline">
		      <label class="layui-form-label">供应商</label>
		      <div class="layui-input-inline">
		      	<input type="hidden" name="id">
		         <select name="providerid" id="providerid" lay-filter="providerid"  lay-verify="required" >
                 	<option value="">请选择供应商</option>
			     </select>
		      </div>
		    </div>
		    <div class="layui-inline">
		      <label class="layui-form-label">商品名称</label>
		      <div class="layui-input-inline">
		       <select name="goodsid" id="goodsid"  lay-verify="required" >
                 	<option value="">请选择商品</option>
			     </select>
		      </div>
		    </div>
		 </div>
		 <div class="layui-form-item">
		    <div class="layui-inline">
		      <label class="layui-form-label">进货数量</label>
		      <div class="layui-input-inline">
		      	<input type="hidden" name="id">
		        <input type="text" name="number" lay-verify="required" placeholder="进货数量" autocomplete="off" class="layui-input">
		      </div>
		    </div>
		    <div class="layui-inline">
		      <label class="layui-form-label">进货价格</label>
		      <div class="layui-input-inline">
		        <input type="text" name="inportprice"   placeholder="进货价格" autocomplete="off" class="layui-input">
		      </div>
		    </div>
		 </div>
		<div class="layui-form-item">
			<label class="layui-form-label">支付类型</label>
			<div class="layui-input-block">
				<input type="radio" name="paytype" value="微信" title="微信" checked="">
				<input type="radio" name="paytype" value="支付宝" title="支付宝">
				<input type="radio" name="paytype" value="银联" title="银联">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">进货备注</label>
			<div class="layui-input-block">
				 <textarea placeholder="请输入备注" name="remark" class="layui-textarea"></textarea>
			</div>
		</div>
		<div class="layui-form-item" style="text-align: center;">
			<button type="button" class="layui-btn" lay-submit="" lay-filter="doSubmit">提交</button>
			<button type="reset" class="layui-btn layui-btn-warm">重置</button>
		</div>
	</form>
</div>
<!-- 添加和修改结束 -->

<div id="showNoticeContent" style="padding: 10px;display: none;">
<h2 align="center" id="showTitle"></h2>
	<hr>
	<div style="text-align: right;">
		发布时间:<span id="showTime"></span>
		发布人:<span id="showOpername"></span>
	</div>
	<hr>
	<hr>
	<div id="showContent">
	</div>
</div>

	<script type="text/javascript" src="/resources/layui/layui.js"></script>
	<script type="text/javascript">
	
	loadLineChart();
	loadCloumnChart();
	function loadCloumnChart(){
		var dom = document.getElementById("container2");
		var myChart = echarts.init(dom);
		var app = {};
		option = null;
		app.title = '坐标轴刻度与标签对齐';

		option = {
			color : [ '#3398DB' ],
			title : {
				text : '业务员年度销售额',
				subtext : '真实有效',
				x : 'center'
			},
			tooltip : {
				trigger : 'axis',
				axisPointer : { // 坐标轴指示器，坐标轴触发有效
					type : 'shadow' // 默认为直线，可选为：'line' | 'shadow'
				}
			},
			xAxis : [ {
				type : 'category',
				data : ['张三', '李四', '王五', '赵六', '孙七', '测试员', 'Sun'],
				axisTick : {
					alignWithLabel : true
				}
			} ],
			yAxis : [ {
				type : 'value'
			} ],
			series : [ {
				name : '年销售业绩',
				type : 'bar',
				barWidth : '60%',
				data:[10, 52, 200, 334, 390, 330, 220]
			} ]
		};
		;
		if (option && typeof option === "object") {
			myChart.setOption(option, true);
		}
	}
	
	
	function loadLineChart(){
			var dom = document.getElementById("container");
			var myChart = echarts.init(dom);
			var app = {};
			option = null;
			option = {
				 title: {
				        left: 'center',
				        text: '年度月份销售额统计',
				    },
			    xAxis: {
			        type: 'category',
			        data: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月']
			        /* data:obj.months */
			       
			    },
			    yAxis: {
			        type: 'value'
			    },
			    series: [{
			        data: [820, 932, 901, 934, 1290, 1330, 1320],
			        type: 'line',
			        itemStyle : { normal: {label : {show: true}}}
			    }]
			};
			if (option && typeof option === "object") {
			    myChart.setOption(option, true);
			}
	}
	
	
	//获取系统时间
	var newDate = '';
	getLangDate();
	//值小于10时，在前面补0
	function dateFilter(date){
	    if(date < 10){return "0"+date;}
	    return date;
	}
	function getLangDate(){
		var user_name = '[[${session.user.name}]]';
	    var dateObj = new Date(); //表示当前系统时间的Date对象
	    var year = dateObj.getFullYear(); //当前系统时间的完整年份值
	    var month = dateObj.getMonth()+1; //当前系统时间的月份值
	    var date = dateObj.getDate(); //当前系统时间的月份中的日
	    var day = dateObj.getDay(); //当前系统时间中的星期值
	    var weeks = ["星期日","星期一","星期二","星期三","星期四","星期五","星期六"];
	    var week = weeks[day]; //根据星期值，从数组中获取对应的星期字符串
	    var hour = dateObj.getHours(); //当前系统时间的小时值
	    var minute = dateObj.getMinutes(); //当前系统时间的分钟值
	    var second = dateObj.getSeconds(); //当前系统时间的秒钟值
	    var timeValue = "" +((hour >= 12) ? (hour >= 18) ? "晚上" : "下午" : "上午" ); //当前时间属于上午、晚上还是下午
	    newDate = dateFilter(year)+"年"+dateFilter(month)+"月"+dateFilter(date)+"日 "+" "+dateFilter(hour)+":"+dateFilter(minute)+":"+dateFilter(second);
	    document.getElementById("nowTime").innerHTML = "亲爱的"+user_name+"，"+timeValue+"好！ 欢迎使用layuiCMS 2.0模版。当前时间为： "+newDate+"　"+week;
	    setTimeout("getLangDate()",1000);
	}
	
	var form;
	layui.use(['form','element','layer','jquery'],function(){
	        form = layui.form,
	        layer = parent.layer === undefined ? layui.layer : top.layer,
	        element = layui.element;
	        $ = layui.jquery;
	    //上次登录时间【此处应该从接口获取，实际使用中请自行更换】
	    $(".loginTime").html(newDate.split("日")[0]+"日</br>"+newDate.split("日")[1]);
	    //icon动画
	    $(".panel a").hover(function(){
	        $(this).find(".layui-anim").addClass("layui-anim-scaleSpring");
	    },function(){
	        $(this).find(".layui-anim").removeClass("layui-anim-scaleSpring");
	    })
	    $(".panel a").click(function(){
	        parent.addTab($(this));
	    })

	    /* $.get("/resources/json/newsList.json",function(data){
	        var hotNewsHtml = '';
	        for(var i=0;i<5;i++){
	            hotNewsHtml += '<tr>'
	                +'<td align="left"><a href="javascript:;"> '+data.data[i].newsName+'</a></td>'
	                +'<td>'+data.data[i].newsTime.substring(0,10)+'</td>'
	                +'</tr>';
	        }
	        $(".other").html(hotNewsHtml);
	        $(".userAll span").text(data.length);
	    })  */
	    
	    $.post("/goods/loadAllDangerNumber",function(data){
	    	console.log(data);
	    	var dangerNumberHtml = '';
	        for(var i=0;i<data.length;i++){
	        	dangerNumberHtml += '<tr>'
	                +'<td align="left"><a href="javascript:;"> '+data[i].providername+'</a></td>'
	                +'<td color="red">'+data[i].dangernum+data[i].goodspackage+'</td>'
	                +'<td align="center"><button class="layui-btn layui-btn-danger layui-btn-sm" onclick="inportNumber('+data[i].id+')" >进货</button></td>'
	                +'</tr>';
	        }
	        $(".other").html(dangerNumberHtml);
	        $(".userAll span").text(data.length);
	    });
	    
	    //监控供应商下拉事件
	    form.on("select(providerid)",function(data){
	    	var providerid=data.value;
	    	$.post("/goods/loadGoodsByProviderId",{providerid:providerid},function(obj){
	    		$("#goodsid").html("<option value=''>请选择商品</option>");
	    		for(var i=0;i<obj.length;i++){
	    			$("#goodsid").append("<option value="+obj[i].id+" > "+obj[i].goodsname+"-"+obj[i].size+" </option>")
	    		}
	    		form.render("select");
	    	});
	    });
	    
	  //监听提交
	    form.on('submit(doSubmit)', function(data){
	        var params=$("#dataFrm").serialize();
	        $.post(url,params,function(obj){
					layer.msg(obj.msg);
	        })
	        return false;
	    });
	    
	    //最新公告列表
	    $.post("/notice/loadAllNotice?page=1&limit=4",function(data){
	        var hotNewsHtml = '';
	        for(var i=0;i<data.data.length;i++){
	            hotNewsHtml += '<tr>'
	                +'<td align="left"><a href="javascript:;"> '+data.data[i].title+'</a></td>'
	                +'<td>'+data.data[i].createtime.substr(0,11)+'</td>'
	                +'<td align="center"><button class="layui-btn layui-btn-danger layui-btn-sm" onclick="show('+data.data[i].id+')" >查看</button></td>'
	                +'</tr>';
	        }
	        $(".hot_news").html(hotNewsHtml);
	    });
	    
	})
	
    //打开 添加进货的弹出层
	    var url="";
	    var mainIndex;
	    function inportNumber(){
	        mainIndex = layui.layer.open({
	            title : "添加进货",
	            type : 1,//页面层
	            area:["1000px","500px"],
	            maxmin:true,
	            content : $("#dataFrmContent"),
	            skin:'layui-layer-molv',
	            success : function(layero, index){
	                setTimeout(function(){
	                    layui.layer.tips('点击此处返回进货列表', '.layui-layer-setwin .layui-layer-close', {
	                        tips: 3
	                    });
	                },500);
	                $("#dataFrm")[0].reset();
	                initProviderSelect($("#providerid"));
	                url="/inport/addInport"
	            }
	        })
	    }
	    
	    //初始化下拉列表里面的值
	    function initProviderSelect(elem,fun){
	    	$.post("/provider/loadAllProviderForList?available=1",function(obj){
	    		elem.html("<option value=''>请选择供应商</option>");
	        	for(var i=0;i<obj.length;i++){
	        		var o=obj[i];
	        		elem.append("<option value="+o.id+" > "+o.providername+" </option> ")
	        	}
	        	form.render("select");
	        	if(fun!= undefined ){
	        		fun();
	        	}
	        });
	    }
	    
	
  	function show(id){
	    	var index = layui.layer.open({
                title : "查看公告",
                type : 1,
                area:["800px","500px"],
                skin:'layui-layer-lan',
                content : $("#showNoticeContent"),
                success : function(layero, index){
                    $.post("/notice/loadNoticeById?id="+id,function(data){
                    	 $("#showTitle").html(data.title);
                         $("#showTime").html(data.createtime);
                         $("#showOpername").html(data.opername);
                         $("#showContent").html(data.content);
                    })
                }
            })
	    }
	</script>
</body>
</html>